body{
  background-image: url(../img/background.jpg);
  width: 100%;
  min-width: 1250px;
  height: auto;
  min-height: 900px;
  background-repeat: repeat-x;
  background-size: contain;
  background-attachment: fixed;
}
