.box{
  display: flex;
  flex-direction: row;
}

.left_column{
  margin: 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgb(237, 238, 240);
}

.center_column{
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: white;
}

.right_column{
  width:  250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: rgb(237, 238, 240);
}

.box p{
  font-family: serif;
  padding: 1px 0 2px 0;
  font-size: 18px;
  color: rgb(66, 76, 67);
}

h2{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
