
.menu ul{
  width: 100%;
  max-width: auto;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  margin-top: 1.5px;
  border-bottom: 1.5px solid black;
}

ul li{
  position: relative;
}

ul.submenu{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 160px;
  height: 140px;
  left: -10px;
  margin-right: 5px;
  z-index: 3;
}

ul.submenu li{
  margin-left: 3px;
  margin-top: 3px;
  height: 40px;
}

div.menu > ul li:hover > ul.submenu{
    display: flex;
}
