
.menu ul{
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  border-bottom: 1px solid black;
}

.menu ul li{
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

ul.submenu{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 160px;
  height: 145px;
  left: 8px;
  margin-right: 5px;
  z-index: 3;
}

ul.submenu li{
  margin-top: 3px;
  height: 40px;
  padding-left: 10px;
}

div.menu > ul li:hover > ul.submenu{
    display: flex;
}
