
.wrapper{
  width: 1000px;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px 1px rgba(3,28,40,1);
  margin: 0 auto;
  border-bottom: 3px solid rgb(3, 29, 40);
  margin-top: -4px;
  overflow: hidden;
}

.picture img{
  width: 100%;
  margin-top: -10px;
  margin-bottom: -5px;
  padding: 0;
  border-top: 1.5px solid rgb(16, 143, 175);
  border-bottom: 1.5px solid rgb(16, 143, 175);
}

.block::after{
 content: '';
 position: absolute;
 border: 5px solid transparent;
 border-top: 5px solid white;
 top: 8px;
 left: 127px;
}

.block1::after{
 content: '';
 position: absolute;
 border: 5px solid transparent;
 border-top: 5px solid white;
 top: 8px;
 left: 77px;
}

.block2::after{
 content: '';
 position: absolute;
 border: 5px solid transparent;
 border-top: 5px solid white;
 top: 8px;
 left: 110px;
}
